.popOutNavIcon{
    position: absolute;
    top:1vh;
    z-index: 100;
    cursor: pointer;
   transition: 0.3s ease;
    font-size: 2em;
  }
  .popOutNavIcon.left{
  left: 1vw;
}

.right{
right: 1vw;
}

.popOutNav{
    position: absolute;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 10;
  transition: 0.3s ease;
  overflow: hidden;
}
.popOutNav.right{
  right: 0;
}
.popOutNav.left{
  left: 0;
}

.popOutNav.isOpen{
width: 20vw;
display: flex;
color:black;
transition: 0.3s ease;
  }

@media(max-width: 600px) {
    .popOutNav.isOpen{
     width: 65vw;
  }
  }

.popOutNavContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   transition: 0.3s ease;
    margin: 44px 0 0 0;
  }